$mercury: #e7e7e7;

$endeavour: #0666AC;
$blue_dark: #004A80;
$blue_light: #2b8abc;
$blue_lighter: #d5eaf6;
$blue_lightest: #eaf5fa;

$grey_light: #e6e6e6;
$grey_lighter: #f2f2f2;

$input_border_color: #cccccc;