{% extends 'partials/base.html.twig' %}



{% block content %}
    
        

        {# {{ page.title }} #}

        <hr>
        
        {% for p in page.collection %}
            <div class="leadership-team">
                <div class="leadership-team__name">
                    <h3>{{ p.title }}</h3>
                </div>

                {% for gr in p.children %}

                    {% include 'leader.html.twig' %}

                {% endfor %}
            </div>
        
        {% endfor %}
    

{% endblock %}
