
//=========================================
//      USAGE
//=========================================    

//=========================================
//      VARIABLES
//=========================================

//=========================================
//      IMPORTS
//=========================================

//=========================================
//      MIXINS
//=========================================




//=========================================
//      GLOBAL STYLES
//=========================================

    body {
        background-color: $mercury;
    }

    .barbara {
        color: green;
        font-size: 1em;
        background-color: yellow;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: left;
    }

//=========================================
//      SECTION A
//=========================================

//=========================================
//      SECTION B
//=========================================
    

//=========================================
//      MEDIA QUERIES
//=========================================


    @media screen and (max-width: 400px) {

        
    }