.body-wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    align-items: center;
    // background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    margin: 6em 1em 1em;
    & > div {
        // background-color: #ccc;
        margin: 1em;
        max-width: 851px; // like Facebook
    }
}
